/* Include the padding and border in an element's total width and height */
*{
    box-sizing: border-box;
}

/*set padding and margin to 0 before and after each element*/
*:before,
*:after{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: orange;
}

.container{
    /*positioning and the transform property to vertically and horizontally center the <div> element*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 50%;
    min-width: 450px;
    min-height: 100px;
    background: whitesmoke;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    padding: 20px;
}


#newitem{
    position: relative;
    padding: 30px 0px;
}

#newitem input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: black;
    outline: none; /*remove the browser's default focus style*/
    font-weight: 500;
    position: relative;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid grey;
}

#newitem input:focus{ 
    border-color: orange;
}


#newitem button{
    position: relative;
    float:none;
    font-weight: 500;
    font-size: 16px;
    background-color: grey;
    border: 2px solid grey;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    width: 20%;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins',sans-serif;
}

#newitem button:hover{
    background-color: orange;
    border: orange;
}

#summary{
    position: relative;
    text-align: center;
    width: 100%;
}

#summary span {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 300;
    outline: solid 1px lightgray;
    border-radius: 5px
}
#summary span:hover{
    background-color: lightgray;
}

#delete{
    color: rgb(175, 31, 31);
}



#itemsList{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.item{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}


.item span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}


.item button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

/* When clicked on, add a background color and strike out text*/
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
